body{
  background-color: #ddd;
  text-align: center;
  padding: 40px 0 0 0;
}
fieldset{
  border: none;
}
label, output{
  padding: 2px 9px;
  border-radius: 3px;
  color: #000;
}
label[for=r], output[for=r]{
  background-color:red;
}
label[for=g], output[for=g]{
  background-color: green;
}
label[for=b], output[for=b]{
  background-color: blue;
}
#hex{
  border: 5px solid rgb(0,0,0);
  min-width: 4em;
  font-size: 3em;
  background-color: rgb(0,0,0,0.3);
}
#box-output{
  text-align: center;
  line-height: 400px;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 800px;
  height: 400px;
  background-color: rgb(0,0,0);
  font-weight: bold;
  margin: 0 auto;
}