html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #ddd;
}

.card{
  min-height: 100px;
  background-color: white;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset{
  border: none;
}

input[type='range']{
  width: 100%;
  margin-top: .2em;
}

.color-preview{
  background-color: #000;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  width: 600px;
  height: 200px;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

label,input{
  margin: 0 auto;
}