.container {
  width: 75%;
  margin-top: 200px ;
  margin: auto;
  display: grid;
  grid-auto-rows: 2fr 2fr 1fr 4fr 1fr 4fr 2fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  grid-template-areas:  'header header nav1 nav2 nav3'
  'title title title title sidebar'
  'postmeta main main main sidebar'
  'postmeta main main main ads'
  'postmeta image image image ads'
  'postmeta image image image other'
  'postmeta image image image other'
  'footer footer footer footer footer';
  border: 2px solid black;   
  grid-gap: 2px; 
}
.header,.nav1,.nav2.nav3,.sidebar,.title,.postmeta,.footer,.main,.other,.ads,.imag{
  padding: 10px;
}

.header{
  grid-area: header;
  background-color: peru;
}
.nav1{
  grid-area: nav1;
  background-color: pink;
}


.nav2{
  grid-area: nav2;
  background-color: pink;
}

.nav2{
  grid-area: nav2;
  background-color: pink;
}


.nav3{
  grid-area: nav3;
  background-color: pink;
}

.sidebar{
  grid-area: sidebar;
  background-color: rgb(192, 237, 255);
}


.title{
  grid-area: title;
  background-color: indianred;
}

.postmeta{
  grid-area: postmeta;
  background-color: greenyellow;
}

.main{
  grid-area: main;
  background-color: gray;
}

.image{
  grid-area: image;
  background-color: rgb(208, 243, 7);
}

.ads{
  grid-area: ads;
  background-color: rgb(0, 132, 255);
}

.other{
  grid-area: other;
  background-color: rgb(255, 16, 16);
}

.footer{
  grid-area: footer;
  background-color: rgb(0, 204, 255);
}